body {
    background-color: var(--corPreto);
    color: var(--corSnow);
    transition: background-color 0.3s, color 0.3s;
}

.cabecalho {
    padding: 1% 10%;
}

.cabecalho__conteudo {
    display: flex;
    justify-content: space-between;
    gap: 12px;
}

.cabecalho__conteudo-esquerda {
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
}

.cabecalho__conteudo-esquerda i {
    font-size: 1.8rem;
    color: #00712D;
}

.cabecalho__conteudo__logo {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
}

.cabecalho__conteudo__logo__titulo {
    font-family: var(--fontPrincipal);
    font-size: 1.8rem;
    color: var(--corBranco);
}

.cabecalho__conteudo__link {
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-left: 12px;
}

.cabecalho__conteudo__link_links {
    list-style: none;
}

.cabecalho__conteudo__link_links a {
    text-decoration: none;
    color: var(--corBranco);
    font-size: 1.2rem;
    font-family: var(--fontPrincipal);
}

.cabecalho__conteudo-direita {
    display: flex;
    gap: 10px;
    align-items: center;
}

.cabecalho__conteudo__botao-config,
.cabecalho__conteudo__botao-theme {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.cabecalho__conteudo__botao-config i,
.cabecalho__conteudo__botao-theme i {
    font-size: 1.2rem;
    color: var(--corBranco);
}