@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Kaushan+Script&family=Pacifico&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --corBranco: #f7f7f7;
    --corPreto: #111111;
    --corCinza: #212121;

    --fontPrincipal: 'DM Sans', sans-serif;
    --fontSecundaria: 'Roboto', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}